<h1>Eat some burgers!</h1>

<h2>Burgers still to eat:</h2>

{{!-- burger list --}}
<ol>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{id}}
        {{burger_name}}
        {{devoured}}
    </li>
    {{/unless}}
    {{/each}}
</ol>

{{!-- button list --}}
<ol>
    {{#each burgers}}
    {{#unless devoured}}
    <li><button class="devour" id={{id}}>Devour it!</button></li>
    {{/unless}}
    {{/each}}
</ol>

{{!-- Devour It! list --}}
<h2>Burgers already eaten:</h2>
<ol>
{{#each burgers}}
    {{#if devoured}}
    <li>
        {{id}}
        {{burger_name}}
        {{devoured}}
    </li>
    {{/if}}
    {{/each}}
</ol>

<form>
    <input type="text" id="burger" name="burger"></input>
    <button id="submit">Submit</button>
    <p>Enter a burger you want to eat!  Click the "Submit" button.</p>
</form>